<% layout(_view.get('_layout/content')) %>

<h1 class="content-header mb-4">
  Create classic and scandinavian crossword puzzles
</h1>

<div class="row">
  <div class="col-lg-6">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="text-danger">Portal module</h5>
        <p>
          Here you can try to solve published crosswords.
          <br>
          The module is available for guest users.
        </p>
      </div>
      <div class="card-footer text-center">
        <a href="portal" class="btn-danger btn">Go</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="text-primary">Office module</h5>
        <p>
          Crossword puzzles are created here.
          <br>
          You can link grids, words and clues together in this module.
        </p>
      </div>
      <div class="card-footer text-center">
        <a href="office" class="btn-primary btn">Go</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="text-success">Studio module</h5>
        <p>
          Application metadata is edited here.
          <br>
          What Crossword, Word, Clue and other entities consist of is defined in this module.
        </p>
      </div>
      <div class="card-footer text-center">
        <a href="studio" class="btn-success btn">Go</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="text-secondary">Admin module</h5>
        <p>
          The application is controlled here.
          <br>
          Security and many other administration settings are available in this module.
        </p>
      </div>
      <div class="card-footer text-center">
        <a href="admin" class="btn-secondary btn">Go</a>
      </div>
    </div>
  </div>
</div>